/* RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: 'DM Sans';
}

:root {
  font-size: 16px;
}

ul {
  padding-inline-start: 0;
}

/* MINE */
:root {
--acai: #8B4149 ;
--anil: #0B98F1 ;
--azul-brim: #2D274D ;
--azul-brim-e-off-white: var(--azul-brim) ;
--azul-capri: #3CA7CE ;
--azul-ceu: #0B69E2 ;
--azul-claro: #82B5DD ;
--azul-indigo: #2378D2 ;
--azul-marinho: #332F57 ;
--blush: #FE7089 ;
--branco: #FFFFFF ;
--cafe: #6D3435 ;
--canela: #BF6A47 ;
--capuccino: #B25343 ;
--capuccino-e-creme: var(--capuccino) ;
--capuccino-e-off-white: var(--capuccino) ;
--castanho: #7D5447 ;
--cereja: #AC1E34 ;
--cereja-e-off-white: var(--cereja) ;
--champagne: #C0A79B ;
--chocolate: #62282E ;
--chocolate-e-areia: var(--chocolate) ;
--chocolate-e-off-white: var(--chocolate) ;
--ciano: #36CFF8 ;
--cobre: #E6534B ;
--cobre-e-off-white: var(--cobre) ;
--creme: #F0EFEB ;
--cristal: #5797A8 ;
--dourado: #E69638 ;
--ebano: #5C444A ;
--escarlate: #EF2520 ;
--esmeralda: #00A57D ;
--flamingo: #F5849F ;
--flor-de-lis: #A547D4 ;
--fucsia: #BD25A1 ;
--fucsia-e-rose-gold: var(--fucsia) ;
--grafite: #69686D ;
--gris: var(--grafite) ;
--iris: #9195E4 ;
--laranja: #FB574A ;
--lavanda: #CE99CA ;
--lilac: #966EF0 ;
--lilac-e-off-white: var(--lilac) ;
--marrom: var(--chocolate) ;
--marrom-rosado: #86454B ;
--menta: #7FCBDF ;
--mocha: var(--chocolate) ;
--night-blue: #292E91 ;
--night-blue-e-off-white: var(--night-blue) ;
--nude: var(--rose-gold) ;
--off-white: #F9F6F6 ;
--off-white-e-capuccino: var(--off-white) ;
--orange: #F45D2C ;
--penelope: #F154B9 ;
--petala: #BF6D7B ;
--pink: #FD0791 ;
--pink-e-off-white: var(--pink) ;
--preto: #0C0C0C ;
--preto-e-capuccino: var(--preto) ;
--preto-e-silver: var(--preto) ;
--rosa-claro: #FACDE7 ;
--rosa-cristal: #F7D2E7 ;
--rosado: var(--uva) ;
--rose: #EAA4BB ;
--rose-gold: #C07581 ;
--roseto: #FC4CF5 ;
--rubi: #F51E30 ;
--safira: #094AC2 ;
--silver: #CACACE ;
--tangerina: #FC5540 ;
--terracota: #CD471B ;
--turquesa: #387983 ;
--uva: #732A66 ;
--uva-e-roxo-claro: var(--uva) ;
--verde: #0B7A56 ;
--verde-cha: #6DBAA9 ;
--verde-citrus: #9ED749 ;
--verde-e-areia: var(--verde) ;
--verde-militar: #52675D ;
--verde-musgo: #435243 ;
--verde-tropical: #44F0C8 ;
--vermelho: #FD394B ;	
--vinho: #811E32 ;	
--violeta: #6C41C8 ;
--barbie: #f775a2;
--amarelo-citrus: #d2dd5e;
--marsala: #782031;
--azul-petroleo:#2a2d74;
--coral:#e27e80;
--fluorescente:#d0e687;
--mirtilo: #412952;
--areia:#dbbab8;
--bordo:#a2302f;
--damasco:#f48e5f;
--azul-oxford:#1e3459;
--capuccino-e-silver: var(--capuccino);
--roxo-claro:#dbc3cf;
--amarelo-candy:#feeacd;
--azul-candy:#b6dcfa;
--ciano-candy:#d3feff;
--lilas-candy:#dad3f3;
--rosa-candy:#fbe5f1;
--rose-candy:#e3ccc9;
--verde-candy:#b3eedd;
--cravo:#bb7651;
--camel:#ca6c4d;
--ametista:#942f89;
--nimbus:#6f6479;
--velvet:#8c3245;
--rosa-licor:#cd8783;
--malva:#9f7286;
--verde-maca:#9ed786;
--magenta:#f61241;
--amarelo-e-azul-candy:var(--amarelo-candy);
--azul-e-amarelo-candy:var(--azul-candy);
--ciano-e-rosa-candy:var(--ciano-candy);
--lilas-e-rose-candy:var(--lilas-candy);
--rosa-e-azul-candy:var(--rosa-candy);
--rosa-e-lilas-candy:var(--rosa-candy);
--rose-e-verde-candy:var(--rose-candy);
--verde-e-rose-candy:var(--verde-candy);
--tyfany-escuro:#21aca0;
--carmim:#813e60;
--black:var(--preto);
--azul-safira:#1865c3;
--mirtilo-e-off-white:#46204d;
--laranja-imperial:#f79076;
--purpura:#c229df;
--celeste:#adcae5;
--rosa-persa:#fdafe0;
--alecrim:#b6a965;
--cereja-e-petala:var(--cereja);
--chocolate-e-capuccino:var(--chocolate);
--verde-militar-e-silver:var(--verde-militar);
--cimento:#7798b3;
--marinho:var(--azul-marinho);
--papaia:#e68474;
--verde-limon:#cfefc8;
--verde-oliva:#9eaeaf;
--vinho-e-creme: var(--vinho);
--creme-e-capuccino: var(--creme);
--grafite-e-creme: var(--grafite);
--lilac-e-branco: var(--lilac);
--verde-acqua:#a8e2e4;
--chiclete:#e57faf;
--verde-tiffany:#4f9fb0;
--roxo:#9a1a84;
--verde-mar:#65969b;
--azul-cristal:#5d9cb2;
--cacau:#6e4756;
--caramelo:#d18969;
--jade:#2bc2c9;
--ambar:#fbb13e;
--licor:#8e333d;
--verde-siciliano:#e7e338;
--verde-floresta:#418174;
--marsala-e-barbie: var(--marsala);
--terracota-e-off-white: var(--terracota);
--uva-e-off-white: var(--uva);
--verde-cha-e-off-white: var(--verde-cha);
--vinho-e-rose-gold: var(--vinho);
--branco-e-flamingo: var(--branco);
--cereja-e-rose:var(--cereja);
--grafite-e-off-white:var(--grafite);
--preto-e-champanhe: var(--preto);
--preto-e-off-white: var(--preto);
--verde-militar-e-off-white: var(--verde-militar);
--cereja-e-branco: var(--cereja);
--terracota-e-branco: var(--terracota);
--azul-indigo-e-off-white: var(--azul-indigo);
--azul-petroleo-e-off-white: var(--azul-petroleo);
--preto-e-cobre: var(--preto);
--plomo:#4a3f3c;
--fucsia-pink:#fb7df8;
--rosa:#ef6d76;
--brasa: #fc8038;
--pistache: #dbefd1;
--pitaya: #f41c9a;
--azul-oxford-e-silver: var(--azul-oxford);
--cereja-e-terracota: var(--cereja);
--laranja-e-lilac: var(--laranja);
--pitaya-e-pistache: var(--pitaya);
--preto-e-laranja: var(--preto);
--preto-e-verde-candy: var(--preto);
--rubi-e-azul-oxford: var(--rubi);
--verde-oliva-e-verde-cha: var(--verde-oliva);
--topazio: #71cde5;
--acai-e-roxo-claro: var(--acai);
--branco-e-rosa-persa: var(--branco);
--cereja-e-amarelo: var(--cereja);
--flamingo-e-azul-capri: var(--flamingo);
--night-blue-e-branco: var(--night-blue);
--preto-e-pink: var(--preto); 
--rose-e-acai: var(--rose);
--rubi-e-verde-citrus: var(--rubi);
--verde-oliva-e-off-white: var(--verde-oliva);
--verde-cha-e-laranja: var(--verde-cha);
--rubi-e-azul-marinho: var(--rubi);
--branco-e-anil: var(--branco);
--night-blue-e-rubi: var(--night-blue);
--preto-e-verde-citrus: var(--preto);
--rose-e-topazio: var(--rose);
--azul-oxford-e-laranja: var(--azul-oxford);
--cereja-e-areia: var(--cereja);
--laranja-e-azul-oxford: var(--laranja);
--pitaya-e-verde-cha: var(--pitaya);
--preto-e-terracota: var(--preto);
--rubi-e-off-white: var(--rubi);
--rubi-e-barbie: var(--rubi);
--flamingo-e-azul-candy: var(--flamingo);
--champagne-e-off-white: var(--champagne);
--cristal-e-off-white: var(--cristal);
--rubi-e-champagne: var(--rubi);
--vinho-e-roxo-claro: var(--vinho);
}

::-moz-selection { /* Code for Firefox */
  color: #BF208F;
  background: #BF208F;
}

::selection {
  color: auto;
  background: #BF208F22;
}

body {
  font-family: 'DM Sans', Arial, sans-serif;
  font-feature-settings: "ss03" 1;
  color: #1F141A;

  caret-color: currentcolor;
}

h1, .h1 { font-size: 2.5rem; line-height: 1.25; }
h2, .h2 { font-size: 2rem; line-height: 1.25; }
h3, .h3 { font-size: 1.75rem; line-height: 1.25; }
h4, .h4 { font-size: 1.5rem; line-height: 1.2; }
h5, .h5 { font-size: 1.25rem; line-height: 1.2; }
h6, .h6 { font-size: 1rem; line-height: 1.2; }

:root {
  --padding-x-global: 1.25rem;
}

a {
  &.btn {
    display: block;
    width: fit-content;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #1F141A;

    &.btn-md {
      padding: 16px;
      border-radius: 12px;
    }

    &.btn-primary {
      background-color: #BF208F;
    }
  }
}

.wrapper-body {
  padding-left: 20px;
  padding-right: 20px;
}

.swatch-color {
  &.acai                     { background: var(--acai) }
  &.anil                     { background: var(--anil) }
  &.azul-brim                { background: var(--azul-brim) }
  &.azul-brim-e-off-white    { background: var(--azul-brim-e-off-white) }
  &.azul-capri               { background: var(--azul-capri) }
  &.azul-ceu                 { background: var(--azul-ceu) }
  &.azul-claro               { background: var(--azul-claro) }
  &.azul-indigo              { background: var(--azul-indigo) }
  &.azul-marinho             { background: var(--azul-marinho) }
  &.blush                    { background: var(--blush) }
  &.branco                   { background: var(--branco) }
  &.branca                   { background: var(--branco) }
  &.cafe                     { background: var(--cafe) }
  &.canela                   { background: var(--canela) }
  &.capuccino                { background: var(--capuccino) }
  &.capuccino-e-creme        { background: var(--capuccino-e-creme) }
  &.capuccino-e-off-white    { background: var(--capuccino-e-off-white) }
  &.castanho                 { background: var(--castanho) }
  &.cereja                   { background: var(--cereja) }
  &.cereja-e-off-white       { background: var(--cereja-e-off-white) }
  &.champagne                { background: var(--champagne) }
  &.chocolate                { background: var(--chocolate) }
  &.chocolate-e-areia        { background: var(--chocolate-e-areia) }
  &.chocolate-e-off-white    { background: var(--chocolate-e-off-white) }
  &.ciano                    { background: var(--ciano) }
  &.cobre                    { background: var(--cobre) }
  &.cobre-e-off-white        { background: var(--cobre-e-off-white) }
  &.creme                    { background: var(--creme) }
  &.cristal                  { background: var(--cristal) }
  &.dourado                  { background: var(--dourado) }
  &.ebano                    { background: var(--ebano) }
  &.escarlate                { background: var(--escarlate) }
  &.esmeralda                { background: var(--esmeralda) }
  &.flamingo                 { background: var(--flamingo) }
  &.flor-de-lis              { background: var(--flor-de-lis) }
  &.fucsia                   { background: var(--fucsia) }
  &.fucsia-e-rose-gold       { background: var(--fucsia-e-rose-gold) }
  &.grafite                  { background: var(--grafite) }
  &.gris                     { background: var(--gris) }
  &.iris                     { background: var(--iris) }
  &.laranja                  { background: var(--laranja) }
  &.lavanda                  { background: var(--lavanda) }
  &.lilac                    { background: var(--lilac) }
  &.lilac-e-off-white        { background: var(--lilac-e-off-white) }
  &.marrom                   { background: var(--marrom) }
  &.marrom-rosado            { background: var(--marrom-rosado) }
  &.menta                    { background: var(--menta) }
  &.mocha                    { background: var(--mocha) }
  &.night-blue               { background: var(--night-blue) }
  &.night-blue-e-off-white   { background: var(--night-blue-e-off-white) }
  &.nude                     { background: var(--rose-gold) }
  &.off-white                { background: var(--off-white) }
  &.off-white-e-capuccino    { background: var(--off-white-e-capuccino) }
  &.orange                   { background: var(--orange) }
  &.penelope                 { background: var(--penelope) }
  &.petala                   { background: var(--petala) }
  &.pink                     { background: var(--pink) }
  &.pink-e-off-white         { background: var(--pink-e-off-white) }
  &.preta                    { background: var(--preto)}
  &.preto                    { background: var(--preto) }
  &.preto-e-capuccino        { background: var(--preto-e-capuccino) }
  &.preto-e-silver           { background: var(--preto-e-silver) }
  &.rosa-claro               { background: var(--rosa-claro) }
  &.rosa-cristal             { background: var(--rosa-cristal) }
  &.rosado                   { background: var(--rosado) }
  &.rose                     { background: var(--rose) }
  &.rose-gold                { background: var(--rose-gold) }
  &.roseto                   { background: var(--roseto) }
  &.rubi                     { background: var(--rubi) }
  &.safira                   { background: var(--safira) }
  &.silver                   { background: var(--silver) }
  &.tangerina                { background: var(--tangerina) }
  &.terracota                { background: var(--terracota) }
  &.turquesa                 { background: var(--turquesa) }
  &.uva                      { background: var(--uva) }
  &.uva-e-roxo-claro         { background: var(--uva-e-roxo-claro) }
  &.verde-cha                { background: var(--verde-cha) }
  &.verde-citrus             { background: var(--verde-citrus) }
  &.verde-e-areia            { background: var(--verde-e-areia) }
  &.verde-militar            { background: var(--verde-militar) }
  &.verde-musgo              { background: var(--verde-musgo) }
  &.verde-tropical           { background: var(--verde-tropical) }
  &.vermelho                 { background: var(--vermelho) }	
  &.vinho                    { background: var(--vinho) }	
  &.violeta                  { background: var(--violeta) }
  &.barbie                   { background: var(--barbie)}
  &.amarelo-citrus           { background: var(--amarelo-citrus)}
  &.marsala                  { background: var(--marsala)}
  &.azul-petroleo            { background: var(--azul-petroleo)}
  &.coral                    { background: var(--coral)}
  &.fluorescente             { background: var(--fluorescente)}
  &.mirtilo                  { background: var(--mirtilo) }
  &.areia                    { background: var(--areia)}
  &.bordo                    { background: var(--bordo)}
  &.damasco                  { background: var(--damasco)}
  &.azul-oxford              { background: var(--azul-oxford)}
  &.capuccino-e-silver       { background: var(--capuccino-e-silver)}
  &.roxo-claro               { background: var(--roxo-claro)}
  &.amarelo-candy            { background: var(--amarelo-candy)}
  &.azul-candy               { background: var(--azul-candy)}
  &.ciano-candy              { background: var(--ciano-candy)}
  &.lilas-candy              { background: var(--lilas-candy)}
  &.rosa-candy               { background: var(--rosa-candy)}
  &.rose-candy               { background: var(--rose-candy)}
  &.verde-candy              { background: var(--verde-candy)}
  &.cravo                    { background: var(--cravo)}
  &.camel                    { background: var(--camel)}
  &.ametista                 { background: var(--ametista)}
  &.nimbus                   { background: var(--nimbus)}
  &.velvet                   { background: var(--velvet)}
  &.rosa-licor               { background: var(--rosa-licor)}
  &.malva                    { background: var(--malva)}
  &.verde-maca               { background: var(--verde-maca)}
  &.magenta                  { background: var(--magenta)}
  &.amarelo-e-azul-candy     { background: var(--amarelo-e-azul-candy)}
  &.azul-e-amarelo-candy     { background: var(--azul-e-amarelo-candy)}
  &.ciano-e-rosa-candy       { background: var(--ciano-e-rosa-candy)}
  &.lilas-e-rose-candy       { background: var(--lilas-e-rose-candy)}
  &.rosa-e-azul-candy        { background: var(--rosa-e-azul-candy)}
  &.rosa-e-lilas-candy       { background: var(--rosa-e-lilas-candy)}
  &.rose-e-verde-candy       { background: var(--rose-e-verde-candy)}
  &.verde-e-rose-candy       { background: var(--verde-e-rose-candy)}
  &.tyfany-escuro            { background: var(--tyfany-escuro)}
  &.carmim                   { background: var(--carmim)}
  &.black                    { background: var(--black)}
  &.azul-safira              { background: var(--azul-safira)}
  &.mirtilo-e-off-white      { background: var(--mirtilo-e-off-white)}
  &.laranja-imperial         { background: var(--laranja-imperial)}
  &.purpura                  { background: var(--purpura)}
  &.celeste                  { background: var(--celeste)}
  &.rosa-persa               { background: var(--rosa-persa)}
  &.alecrim                  { background: var(--alecrim)}
  &.cereja-e-petala          { background: var(--cereja-e-petala)}
  &.chocolate-e-capuccino    { background: var(--chocolate-e-capuccino)}
  &.verde-militar-e-silver   { background: var(--verde-militar-e-silver)}
  &.cimento                  { background: var(--cimento)}
  &.marinho                  { background: var(--marinho)}
  &.papaia                   { background: var(--papaia)}
  &.verde-limon              { background: var(--verde-limon)}
  &.verde-oliva              { background: var(--verde-oliva)}
  &.vinho-e-creme            { background: var(--vinho-e-creme)}
  &.branco-e-flamingo        { background: var(--branco-e-flamingo)}
  &.creme-e-capuccino        { background: var(--creme-e-capuccino)}
  &.grafite-e-creme          { background: var(--grafite-e-creme)}
  &.lilac-e-branco           { background: var(--lilac-e-branco)}
  &.verde-acqua              { background: var(--verde-acqua)}
  &.chiclete                 { background: var(--chiclete);}
  &.verde-tiffany            { background: var(--verde-tiffany);}
  &.roxo                     { background: var(--roxo);}
  &.verde-mar                { background: var(--verde-mar);}
  &.azul-cristal             { background: var(--azul-cristal);}
  &.cacau                    { background: var(--cacau);}
  &.caramelo                 { background: var(--caramelo);}
  &.jade                     { background: var(--jade);}
  &.ambar                    { background: var(--ambar);}
  &.licor                    { background: var(--licor);}
  &.verde-siciliano          { background: var(--verde-siciliano);}
  &.verde-floresta           { background: var(--verde-floresta);}
  &.marsala-e-barbie         { background: var(--marsala-e-barbie);}
  &.terracota-e-off-white    { background: var(--terracota-e-off-white);}
  &.uva-e-off-white          { background: var(--uva-e-off-white);}
  &.verde-cha-e-off-white    { background: var(--verde-cha-e-off-white);}
  &.vinho-e-rose-gold        { background: var(--vinho-e-rose-gold);}
  &.branco-e-flamingo        { background: var(--branco-e-flamingo);} 
  &.cereja-e-rose            { background: var(--cereja-e-rose);} 
  &.grafite-e-off-white      { background: var(--grafite-e-off-white);} 
  &.preto-e-champagne        { background: var(--preto-e-champanhe);} 
  &.preto-e-off-white        { background: var(--preto-e-off-white);} 
  &.verde-militar-e-off-white{ background: var(--verde-militar-e-off-white);} 
  &.cereja-e-branco          { background: var(--cereja-e-branco);} 
  &.terracota-e-branco       { background: var(--terracota-e-branco);} 
  &.azul-indigo-e-off-white  { background: var(--azul-indigo-e-off-white);} 
  &.azul-petroleo-e-off-white{ background: var(--azul-petroleo-e-off-white);} 
  &.preto-e-cobre            { background: var(--preto-e-cobre);} 
  &.plomo                    { background: var(--plomo);} 
  &.fucsia-pink              { background: var(--fucsia-pink) ;} 
  &.rosa                     { background: var(--rosa);}
  &.brasa                    { background: var(--brasa);}
  &.pistache                 { background: var(--pistache);}
  &.pitaya                   { background: var(--pitaya);}
  &.azul-oxford-e-silver     { background: var(--azul-oxford-e-silver);}
  &.cereja-e-terracota       { background: var(--cereja-e-terracota);}
  &.laranja-e-lilac          { background: var(--laranja-e-lilac);}
  &.pitaya-e-pistache        { background: var(--pitaya-e-pistache);}
  &.preto-e-laranja          { background: var(--preto-e-laranja);}
  &.preto-e-verde-candy      { background: var(--preto-e-verde-candy);}
  &.rubi-e-azul-oxford       { background: var(--rubi-e-azul-oxford);}
  &.verde-oliva-e-verde-cha  { background: var(--verde-oliva-e-verde-cha);}
  &.topazio                  { background: var(--topazio);}
  &.acai-e-roxo-claro        { background: var(--acai-e-roxo-claro);}
  &.branco-e-rosa-persa      { background: var(--branco-e-rosa-persa);}
  &.cereja-e-amarelo         { background: var(--cereja-e-amarelo);}
  &.flamingo-e-azul-capri    { background: var(--flamingo-e-azul-capri);}
  &.night-blue-e-branco      { background: var(--night-blue-e-branco);}
  &.preto-e-pink             { background: var(--preto-e-pink);}
  &.rose-e-acai              { background: var(--rose-e-acai);}
  &.rubi-e-verde-citrus      { background: var(--rubi-e-verde-citrus);}
  &.verde-oliva-e-off-white  { background: var(--verde-oliva-e-off-white);}
  &.verde-cha-e-laranja      { background: var(--verde-cha-e-laranja);}
  &.rubi-e-azul-marinho      { background: var(--rubi-e-azul-marinho);}
  &.branco-e-anil            { background: var(--branco-e-anil);}
  &.night-blue-e-rubi        { background: var(--night-blue-e-rubi);}
  &.preto-e-verde-citrus     { background: var(--preto-e-verde-citrus);}
  &.rose-e-topazio           { background: var(--rose-e-topazio);}
  &.cereja-e-areia           { background: var(--cereja-e-areia);}
  &.laranja-e-azul-oxford    { background: var(--laranja-e-azul-oxford);}
  &.pitaya-e-verde-cha       { background: var(--pitaya-e-verde-cha);}
  &.preto-e-terracota        { background: var(--preto-e-terracota);}
  &.rubi-e-off-white         { background: var(--rubi-e-off-white);}
  &.azul-oxford-e-laranja    { background: var(--azul-oxford-e-laranja);}
  &.flamingo-e-azul-candy    { background: var(--flamingo-e-azul-candy);}
  &.rubi-e-barbie            { background: var(--rubi-e-barbie);}
  &.champagne-e-off-white    { background: var(--champagne-e-off-white);}
  &.cristal-e-off-white      { background: var(--cristal-e-off-white);}
  &.rubi-e-champagne         { background: var(--rubi-e-champagne);}
  &.vinho-e-roxo-claro       { background: var(--vinho-e-roxo-claro);}

}

